h1{
    margin-top: 1%;
}

[class *= 'carousel-caption']{
    -webkit-text-stroke: 1px black;
    text-shadow: 1px 1px 0 white,
        -1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white;
    background-color: white;
    border-radius: 20px;
}

[class *= 'carousel-item']{
    height: auto;
}


img{
    height: auto;
}

.icono_footer{
    width: 20px;
}

.grid_productos{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-content: center;
}